#auth_form {
  input {
    padding: 7px;
    border-radius: 5px;
    border: 1px gray solid;
  }

  input[type="submit"] {
    background-color: #2271B1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
  }

  .ok-status-info {
    color: green;
  }

  .fail-status-info {
    color: red;
  }

  [disabled] {
    cursor: not-allowed;
  }

  small {
    font-size: 12px;
  }

  .clickableDiv {
    cursor: pointer;
  }
}